{
  "parser": "babel-eslint",
  "extends": "eslint-config-alloy/react",
  "plugins": [
    "react"
  ],
  "rules": {
    "no-void": "off",
    "space-before-function-paren": ["error", "always"],
    "max-depth": [2, 10],
    "complexity": ["error", 50]
  }
}